<div class="card">
    @* it will be heading *@
    <div class="card-header">
        <h2>Customer Listing</h2>
    </div>

    <div class="card-body">
        <div class="card-title">
            <a asp-controller="customer" asp-action="create" class="btn btn-success">Add New</a>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered" id="tblcustomer">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@* adding jquery reference *@
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<!--Adding jQuery Datatable CDN for csss and JS to bind values to table-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" />

<script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>

<script type="text/javascript">

    //resolving jquery conflict
    var js = jQuery.noConflict(true);

    js(document).ready(function () {
        //function to load customers when Index action method is called
        LoadCustomer()
    });

    function LoadCustomer(){

        //declare an array for tabledata
        tableData = [];

        //here we will write jquery ajax for asynchronous data fetch from api
        $.ajax({
            type: 'GET',
            url: 'https://localhost:7097/api/Customer/GetAllCustomer',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function(data){
                // debugger;
                //creating buttons for actions
                var _edit = "<a class='btn btn-primary' onclick='FunEdit(this)'>Edit</a>"
                var _remove = "<a class='btn btn-danger' onclick='FunRemove(this)'>Delete</a>"
                var _action = _edit + " | " + _remove;

                $.each(data, function(key, value){
                    tableData.push([value.code, value.name, value.email, value.phone, value.statusName, _action]);
                })
            },
            failure: function(error){

            }
        })

        js('#tblcustomer').DataTable({
            data: tableData
        })
    }
</script>